/* Global Setting */

body,
a,
div,
section,
header,
p,
article {
    font-family: 'Kanit', sans-serif;
}


/* Nav */

.navbar-brand {
    font-size: 20px !important;
}

.navbar {
    font-size: 18px;
    background: rgba(11, 54, 91, 0.6);
}

.fixed-top {
    position: fixed;
    top: 0;
}


/* Header */

.blacking {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.header-container iframe {
    width: 100%;
    height: 100%;
}


/* Article */

#article {
    font-size: 24px;
}

h1 hr {
    width: 25%;
}