/* Global Setting */

body,
a,
div,
section,
header,
p,
article {
    font-family: 'Kanit', sans-serif;
}


/* Article List */

.card {
    margin: 3px;
    margin-bottom: 2rem!important;
    width: 18rem!important;
}


/* Form */

.none {
    display: none;
}