/* Global Setting */

body,
a,
div,
section,
header,
p,
article,
footer {
    font-family: 'Kanit', sans-serif;
}


/* Nav */

.navbar-brand {
    font-size: 20px !important;
}

.navbar {
    font-size: 18px;
    background: rgba(11, 54, 91, 0.6);
}

.fixed-top {
    position: fixed;
    top: 0;
}


/* Header */

.header-img {
    background: url('index-header.webp');
    width: 100%;
    height: 100vh;
    background-position: center;
}

.mid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.blacking {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.sub-header {
    color: lightgray;
}


/* About */

#about {
    background: #0B365B;
    color: whitesmoke;
    padding: 4rem 0 2rem 0;
    font-size: 20px;
}

#about hr {
    width: 8%;
    margin-top: 0;
}


/* Lastest Post */

#lastest-post {
    background: rgba(11, 54, 91, 0.4);
    color: black;
    padding: 4rem 0 2rem 0;
    font-size: 20px;
}

#lastest-post hr {
    width: 16%;
    margin-top: 0;
}

.row {
    text-align: center;
    align-items: center;
    margin: 0;
}

.card-con {
    margin-bottom: 2rem!important;
}

.none {
    display: none;
}


/* Footer */

#footer {
    color: white;
    background: #0B365B;
    font-size: 24px;
    width: 100%;
    text-align: left;
}

#footer .row div {
    text-align: left;
}

#footer hr {
    margin-top: 0;
}


/* Copyright */

#copyright {
    color: white;
    background: #0B365B;
}

#copyright a {
    color: white;
    text-decoration: none;
}

#copyright a:hover {
    color: white;
    text-decoration: underline;
}