/* Global Setting */

body,
a,
div,
section,
header,
p,
article {
    font-family: 'Kanit', sans-serif;
}


/* Nav */

.navbar {
    font-size: 24px;
}


/* Color */

.bg-alpha {
    background-color: rgba(0, 0, 0, 0.6);
}