/* Global Setting */

body,
a,
div,
section,
header,
p,
article {
    font-family: 'Kanit', sans-serif;
}


/* Nav */

.navbar-brand {
    font-size: 20px !important;
}

.navbar {
    font-size: 18px;
}

.fixed-top {
    position: fixed;
    top: 0;
}


/* Header */

.header-img {
    background: url('index-header.webp');
    width: 100%;
    height: 100vh;
    background-position: center;
}

.blacking {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}


/* About */

#about {
    padding: 4rem 0;
    font-size: 20px;
}

#about hr {
    width: 10%;
    margin-top: 0;
}


/* Lastest Post */


/* Footer */


/* Color */

.bg-alpha {
    background-color: rgba(0, 0, 0, 0.6);
}